body{
       background-color: aliceblue;
}

hr{
     border-style: none;
     border-top-style: dotted;
     border-color: grey;
     border-width: 3px;
     width: 5%;
}



h3{
     color :darkcyan;
}

h2{
     color: darkcyan;
}